<<<<<<< HEAD

form {    
    padding: 10px 10px 20px 30px;    
    border: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
=======
body{
    background: #BDBDBD;
>>>>>>> f3d11d9a39643d579f15dab055a8ce2605d99573
}


